@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* COLOR PALETTE VARIABLES */
:root {
    --accent-color: #8a817c;
    --base-color: #f4f3ee;
    --basedark-color:#242424;
    --text-color: #463f3a;
    --input-color: #f4f3ee;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

/* MAIN */

html {
    font-size: 1.2rem;
    font-family: "Sometype Mono", 'Courier New', Courier, monospace;
    background: var(--basedark-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--basedark-color); /* Dark background color */
}

/* GAME */

#game {
    display: block;
    margin: 50px auto; /* Centers the game */
    border: 10px solid #242424; /* Box border with #242424 color */
    outline: 2px solid var(--base-color);
    width: 400px; /* Fixed width of the canvas */
    height: 400px; /* Fixed height of the canvas */
}

/* CONTROLS */

.controls-container {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid var(--accent-color); /* Accent color for the border */
    background-color: var(--basedark-color); /* Base color for background */
    color: var(--base-color); /* Text color */
    text-align: left;
    width: 250px; /* Set a fixed width to make sure it's properly aligned */
    text-align: center;
}

.controls-container h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    color: var(--accent-color); /* Accent color */
}

.controls-container ul {
    list-style-type: none;
    padding-left: 0;
}

.controls-container ul li {
    padding: 5px 0;
}

/* NAVBAR  */
nav {
    height: 60px;
    background-color: var(--basedark-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* SIDEBAR */
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* NAVBAR STYLING */
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--base-color);
    transition: 300ms ease;
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--base-color);
}


/* INTERACTIONS & MEDIA QUERY */
#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

@media(max-width: 450px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--basedark-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 1s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }


}
